@media only screen and (max-width: 1600px) {
	.header__btn{
		margin-top: 42px;
	}
}
@media only screen and (max-width: 1288px) {
	.header__btn{
		margin-left: 0;
	}
}
@media only screen and (max-width: 1200px) {
	.header__btn{
		margin-top: 0;
		font-size: 21px;
	}
	.tariffs__type{
		font-size: 25px;
	}
	.tariffs__price{
		font-size: 43px;
	}
	.tariffs__bottom{
		font-size: 23px;
		padding: 0 38px;
		li{
			margin-top: 40px;
		}
	}
	.faq__img{
		margin-top: 35%;
	}
	.header__content {
		margin-top: 100px; 
	}
	.header__btn{
		margin-top: 40px;
	}
	.header__title{
		font-size: 45px;
	}
	.tariffs__btn{
		font-size: 27px;
	}

}
@media only screen and (max-width: 1084px) {
	.header__content {
		margin-top: 50px; 
	}

}
@media only screen and (max-width: 991px) {
	.tariffs__price{
		font-size: 38px;
	}
	.tariffs__item{
		margin-top: 30px;
	}
	.faq{
		margin-top: 200px;
	}
	.faq__img{
		max-width: 600px;

		margin-top: 10px;
	}
	.header__btn {
		margin-left: 0;
		white-space: nowrap;
	}
	.header-down{
		margin-bottom: 70px;
	}
}
@media only screen and (max-width: 768px) {
	.questions__button{
		text-align: center;
		margin: 35px 0 0 0;
	}
}
@media only screen and (max-width: 580px) {
}
@media only screen and (max-width: 480px) {
	.questions__button{
		padding: 25px 29px;
	}
}
@media only screen and (max-width: 320px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
	.about__item{
		height: 100%;
		flex-direction: column;
		align-items: center;
		align-content: stretch;

	}
	.about__icon{
		flex: 1 1 auto;
	}
	.footer__logo{
		display: none;
	}
	.questions__button{
		margin-left: 0;
	}
	.api a{
		margin: 0 20px 0 0;
	}
	.section-down-icon{
		margin-top: 90px;
	}
	.about__inner .row:nth-child(3) {
		margin-top: 90px;
	}
	
}
@media only screen and (max-width: 931px) {
	.login-835{
		display: block;
	}
	.login{
		display: none;
	}
	.navbar{
		width: 100%;
	}

	.navbar .badge.badge-success{
		display: none;
	}
	.navbar-padding li a, .login a{
		padding-left: 0;
	}
	.navbar-light .navbar-toggler{
		border-color:rgb(55, 102, 195);
	}
}
@media only screen and (max-width: 768px) {
	.about__item{
		justify-content: center;
		align-items: center;
		padding-top: 30px;
		text-align: center;
		padding-top: 60px;
	}	

	.about__icon{
		max-width: 123px;
	}
	._r2, ._r{
		margin:0;
	}
	.navbar__inner{
		width: 100%;
	}
	.api {
		flex-direction: column;
	}
}
@media only screen and (max-width: 576px) {
	.section-title{
		font-size: 40px;
	}
	.header__title{
		white-space: normal;
	}
}
@media only screen and (max-width: 480px) {
	.tariffs__bottom{
		padding: 0 10px;
		
	}
	.manager, .terms{
		margin-top: 40px;
	}
	.api{
		a{
			&:nth-child(2), &:nth-child(3) {
				margin-top: 40px;
			}

		}
	}

	.header, .about{
		padding: 0;
	}
}
@media only screen and (max-width: 320px) {
	.section-title{
		font-size: 30px;
	}
}
