// style_lib
@import "../libs/bootstrap.min.css";
@import "../sass/normalize.css";






@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Light.woff2') format('woff2'),
  url('../fonts/Montserrat-Light.woff') format('woff'),
  url('../fonts/Montserrat-Light.ttf') format('truetype'),
  url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat-Medium.ttf') format('truetype'),
  url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf') format('truetype'),
  url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.ttf') format('truetype'),
  url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black.eot');
  src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Black.woff2') format('woff2'),
  url('../fonts/Montserrat-Black.woff') format('woff'),
  url('../fonts/Montserrat-Black.ttf') format('truetype'),
  url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/Montserrat-ExtraBold.eot');
  src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
  url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
  url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
  url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}




@mixin ml {
  font-family: 'Montserrat-Light';
}

@mixin mm {
  font-family: 'Montserrat-Medium';
}

@mixin mr {
  font-family: 'Montserrat-Regular';
}




// light  300 regular: 400 bold:  700  black:   900


// default var
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

a {
  outline: none;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

ul li {
  list-style-type: none;
}


img {
  max-width: 100%;
  display: inline-block;
}

button{
  cursor: pointer;
}
textarea{
  resize:none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  @include ml;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  @include ml;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  @include ml;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  @include ml;
}



.container {
  // max-width: 1597px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-title{
  color: #2566C3;
  font-size: 50px;
  font-family: "Montserrat-ExtraBold";
  text-align: center;
    margin-bottom: 65px;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text-center{
  text-align: center;
}


.btn{
  font-size: 16px;
  display: inline-block;
  font-family: "Montserrat-Bold";
  color: #fff;
  padding: 25px 60px;
  border-radius: 30px;
  background-color: #337FF7;
  &:hover{
    background-color: #fff;
    color: #2566c3;
    transition: all 0.3s linear;
    border: 2px solid #dddcdc;
  }
}


.header, .about{
  padding: 0 50px;
  .container{
    max-width: 1683px;
  }
}
.header__btn{
  border-radius: 100px;
  font-size: 30px;
  margin-left: 130px;
  margin-top: 102px;
}
.header__content{
  margin-top: 115px;
}
.header__title{
  text-align: left;
  white-space: nowrap;
}
.header__text{
  color: #1266E0;
  font-size: 25.5px;
  font-family: "Montserrat-regular";
  max-width: 447px;
}

.header-down-icon{
  text-align: center;
  margin-bottom: 5px;
}
.navbar{
  width: 100%;
}
.navbar-expand-md .navbar-collapse{
  justify-content: space-between;
}
.login{
  margin-right: 50px;
  cursor: pointer;
}
.navbar__inner{
  display: flex;
  // width: 100%;
  justify-content: space-between;
}
.navbar-padding li a, .login a{
  white-space: nowrap;
  display: block;
  padding: 14px;
  color: #0056b3;
  @include mr;
  transition: color .1s ease-in;
  &:hover{
    color: #4eb0eb;
  }
}
.navbar-light .navbar-brand {
  width: 47px;
}
.about {
  margin-top: 122px;
  .container{
    max-width: 1548px;
  }
}
.login-835{
  display: none;
}



.about__item{
  justify-content: center;
  display: flex;
  color: #2566C3;
  font-weight: bold;
  background-color: #fff;
}
// .about {
//   min-height: 100vh;
// }
.about__inner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.about__icon {
  margin-right: 18px;
}
.about__text {
  padding-top: 10px;
  max-width:  215px;
  font-family: "Montserrat-Bold";
}
.section-down-icon {
  // margin: 110px auto 0 auto;
  // margin-bottom: 10px;
  text-align: center;
}



.tariffs{
  // max-width: 1620px;
  margin: 122px auto 0 auto;
  .container{
    max-width: 1590px;
  }
}
.tariffs__title{
  // margin-bottom: 65px;
}
.tariffs__item {
  max-width: 441px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Montserrat-Bold";
  height: 100%;
}
.tariffs__top {
  color: #fff;
  background-color: #9cc3ff;
  border-radius: 30px 30px 0px 0px;
  text-align: center;
}
.tariffs__type {
  padding-top: 30px;
  font-size: 36px;
  font-weight: 700;
}
.tariffs__price {
  line-height: 84px;
  font-size: 48px;
  font-weight: 900;
}
.tariffs__bottom {
  box-shadow: 0px 0px 60px 6px#9cc3ff;
  text-align: center;
  padding: 0 32px;
  font-size: 30px;
  color: #3f65a2;
  font-weight: 700;
  min-height: 513px;
  display: flex; 
  flex-direction: column;
  ul{
    flex: 1 1 auto;
  }
  li{
    margin-top: 48px;
  }
}


.tariffs__item--green {
 .tariffs__top {
  background-color: #90d0bf;
}
.tariffs__bottom {
  box-shadow: 0px 0px 60px 6px#90d0bf;
}
.tariffs__btn {
  background-color: #90d0bf;
  &:hover{
      box-shadow: 0px 0px 60px 15px#90d0bf;
    }
}
}
.tariffs__btn {
  transition: all .1s ease-out;
  &:hover{
    color: #fff;
    box-shadow: 0px 0px 60px 15px#9cc3ff;
  }
}
.tariffs__item--red {
  .tariffs__top {
    background-color: #fcbaaf;
  }
  .tariffs__bottom {
    box-shadow: 0px 0px 60px 6px#fcbaaf;
  }
  .tariffs__btn {
    background-color: #fcbaaf;
    &:hover{
      box-shadow: 0px 0px 60px 15px#fcbaaf;
    }
  }
}


.tariffs__btn {
  font-size: 35px;
  padding: 37px 53px;
  color: #fff;
  background-color: #9cc3ff;
  display: block;
  margin-bottom: 30px;
}









// faq
.faq{
  margin-top: 170px;
  .container{
    max-width: 1900px;
  }
}
.faq__title{
  margin-top: 41px;
}
.faq__img {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 75px;
}
.questions{
  // text-align: center;
  display: inline;
  flex-direction: column;
  margin: -10px 0 -10px 0; 
}
.questions__item{
// margin-top: 25px;
padding: 5px 0;
._visable{
  display: block;
}
&:first-child{
  margin-top: 25px;
}

}
.question__item-q {
  display: flex;
  border: 1px solid #dddcdc;
  border-radius: 50px;
  transition: all 0.3s linear;
  &:hover{
    background-color: #2566C3;
    .show-answer{
      width: 100%;
      color: #fff;
    }
  }

}
.show-answer {
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat-Bold";
  padding: 15.5px 0;
  color: #2566C3;
  display: flex;
  align-items: center;

  img{
    margin: 0 20px 0 10px;
  }
}
.questions__item-content {
  display: none;
  font-family: "Montserrat-Regular";
  // color: #000;
  color: #122f4e;
  margin-top: 10px ;
  margin-left: 20px;
}

.questions__button{
 background-color: #2566C3;
 margin: 16px 0 0 81px
}

footer {
    margin-top: 150px;
    padding-bottom: 31px;
}
footer .container {
  max-width: 1406px;
}
.footer__logo{
  margin-right: 10px;
  width: 47px;
}
footer a, footer p {
  margin: 0;
  color:#0B2F4F;
  @include mr;
  font-size:20px;
}


.api{
  display: flex;
  justify-content: space-between;
a{
  position: relative;
  margin: 28px;

}
}

@import "_media.scss";