@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

a {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: 'Montserrat-Light';
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: 'Montserrat-Light';
}

input:-moz-placeholder, textarea:-moz-placeholder {
  font-family: 'Montserrat-Light';
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: 'Montserrat-Light';
}

.container {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  color: #2566C3;
  font-size: 50px;
  font-family: "Montserrat-ExtraBold";
  text-align: center;
  margin-bottom: 65px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text-center {
  text-align: center;
}

.btn {
  font-size: 16px;
  display: inline-block;
  font-family: "Montserrat-Bold";
  color: #fff;
  padding: 25px 60px;
  border-radius: 30px;
  background-color: #337FF7;
}

.btn:hover {
  background-color: #fff;
  color: #2566c3;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 2px solid #dddcdc;
}

.header, .about {
  padding: 0 50px;
}

.header__btn {
  border-radius: 100px;
  font-size: 30px;
  margin-left: 130px;
  margin-top: 102px;
}

.header__content {
  margin-top: 115px;
}

.header__title {
  text-align: left;
  white-space: nowrap;
}

.header__text {
  color: #1266E0;
  font-size: 25.5px;
  font-family: "Montserrat-regular";
  max-width: 447px;
}

.header-down-icon {
  text-align: center;
  margin-bottom: 5px;
}

.navbar {
  width: 100%;
}

.navbar-expand-md .navbar-collapse {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login {
  margin-right: 50px;
  cursor: pointer;
}

.navbar__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-padding li a, .login a {
  white-space: nowrap;
  display: block;
  padding: 14px;
  color: #0056b3;
  font-family: 'Montserrat-Regular';
  -webkit-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

.navbar-padding li a:hover, .login a:hover {
  color: #4eb0eb;
}

.navbar-light .navbar-brand {
  width: 47px;
}

.about {
  margin-top: 122px;
}

.login-835 {
  display: none;
}

.about__item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #2566C3;
  font-weight: bold;
  background-color: #fff;
}

.about__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.about__icon {
  margin-right: 18px;
}

.about__text {
  padding-top: 10px;
  max-width: 215px;
  font-family: "Montserrat-Bold";
}

.section-down-icon {
  text-align: center;
}

.tariffs {
  margin: 122px auto 0 auto;
}

.tariffs__item {
  max-width: 441px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  font-family: "Montserrat-Bold";
  height: 100%;
}

.tariffs__top {
  color: #fff;
  background-color: #9cc3ff;
  border-radius: 30px 30px 0px 0px;
  text-align: center;
}

.tariffs__type {
  padding-top: 30px;
  font-size: 36px;
  font-weight: 700;
}

.tariffs__price {
  line-height: 84px;
  font-size: 48px;
  font-weight: 900;
}

.tariffs__bottom {
  -webkit-box-shadow: 0px 0px 60px 6px #9cc3ff;
          box-shadow: 0px 0px 60px 6px #9cc3ff;
  text-align: center;
  padding: 0 32px;
  font-size: 30px;
  color: #3f65a2;
  font-weight: 700;
  min-height: 513px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tariffs__bottom ul {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tariffs__bottom li {
  margin-top: 48px;
}

.tariffs__item--green .tariffs__top {
  background-color: #90d0bf;
}

.tariffs__item--green .tariffs__bottom {
  -webkit-box-shadow: 0px 0px 60px 6px #90d0bf;
          box-shadow: 0px 0px 60px 6px #90d0bf;
}

.tariffs__item--green .tariffs__btn {
  background-color: #90d0bf;
}

.tariffs__item--green .tariffs__btn:hover {
  -webkit-box-shadow: 0px 0px 60px 15px #90d0bf;
          box-shadow: 0px 0px 60px 15px #90d0bf;
}

.tariffs__btn {
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.tariffs__btn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 0px 60px 15px #9cc3ff;
          box-shadow: 0px 0px 60px 15px #9cc3ff;
}

.tariffs__item--red .tariffs__top {
  background-color: #fcbaaf;
}

.tariffs__item--red .tariffs__bottom {
  -webkit-box-shadow: 0px 0px 60px 6px #fcbaaf;
          box-shadow: 0px 0px 60px 6px #fcbaaf;
}

.tariffs__item--red .tariffs__btn {
  background-color: #fcbaaf;
}

.tariffs__item--red .tariffs__btn:hover {
  -webkit-box-shadow: 0px 0px 60px 15px #fcbaaf;
          box-shadow: 0px 0px 60px 15px #fcbaaf;
}

.tariffs__btn {
  font-size: 35px;
  padding: 37px 53px;
  color: #fff;
  background-color: #9cc3ff;
  display: block;
  margin-bottom: 30px;
}

.faq {
  margin-top: 170px;
}

.faq__title {
  margin-top: 41px;
}

.faq__img {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 75px;
}

.questions {
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -10px 0 -10px 0;
}

.questions__item {
  padding: 5px 0;
}

.questions__item ._visable {
  display: block;
}

.questions__item:first-child {
  margin-top: 25px;
}

.question__item-q {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dddcdc;
  border-radius: 50px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.question__item-q:hover {
  background-color: #2566C3;
}

.question__item-q:hover .show-answer {
  width: 100%;
  color: #fff;
}

.show-answer {
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat-Bold";
  padding: 15.5px 0;
  color: #2566C3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-answer img {
  margin: 0 20px 0 10px;
}

.questions__item-content {
  display: none;
  font-family: "Montserrat-Regular";
  color: #122f4e;
  margin-top: 10px;
  margin-left: 20px;
}

.questions__button {
  background-color: #2566C3;
  margin: 16px 0 0 81px;
}

footer {
  margin-top: 150px;
  padding-bottom: 31px;
}

.footer__logo {
  margin-right: 10px;
  width: 47px;
}

footer a, footer p {
  margin: 0;
  color: #0B2F4F;
  font-family: 'Montserrat-Regular';
  font-size: 20px;
}

.api {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.api a {
  position: relative;
  margin: 28px;
}

@media only screen and (max-width: 1600px) {
  .header__btn {
    margin-top: 42px;
  }
}

@media only screen and (max-width: 1288px) {
  .header__btn {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .header__btn {
    margin-top: 0;
    font-size: 21px;
  }
  .tariffs__type {
    font-size: 25px;
  }
  .tariffs__price {
    font-size: 43px;
  }
  .tariffs__bottom {
    font-size: 23px;
    padding: 0 38px;
  }
  .tariffs__bottom li {
    margin-top: 40px;
  }
  .faq__img {
    margin-top: 35%;
  }
  .header__content {
    margin-top: 100px;
  }
  .header__btn {
    margin-top: 40px;
  }
  .header__title {
    font-size: 45px;
  }
  .tariffs__btn {
    font-size: 27px;
  }
}

@media only screen and (max-width: 1084px) {
  .header__content {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .tariffs__price {
    font-size: 38px;
  }
  .tariffs__item {
    margin-top: 30px;
  }
  .faq {
    margin-top: 200px;
  }
  .faq__img {
    max-width: 600px;
    margin-top: 10px;
  }
  .header__btn {
    margin-left: 0;
    white-space: nowrap;
  }
  .header-down-icon {
    margin-bottom: 70px;
    margin-top: 70px;
  }
}

@media only screen and (max-width: 768px) {
  .questions__button {
    text-align: center;
    margin: 35px 0 0 0;
  }
}

@media only screen and (max-width: 480px) {
  .questions__button {
    padding: 25px 29px;
  }
}

@media only screen and (max-width: 992px) {
  .about__item {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
  }
  .about__icon {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .footer__logo {
    display: none;
  }
  .questions__button {
    margin-left: 0;
  }
  .api a {
    margin: 0 20px 0 0;
  }
  .section-down-icon {
    margin-top: 90px;
  }
  .about__inner .row:nth-child(3) {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 931px) {
  .login-835 {
    display: block;
  }
  .login {
    display: none;
  }
  .navbar {
    width: 100%;
  }
  .navbar .badge.badge-success {
    display: none;
  }
  .navbar-padding li a, .login a {
    padding-left: 0;
  }
  .navbar-light .navbar-toggler {
    border-color: #3766c3;
  }
}

@media only screen and (max-width: 768px) {
  .about__item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    text-align: center;
    padding-top: 60px;
  }
  .about__icon {
    max-width: 123px;
  }
  ._r2, ._r {
    margin: 0;
  }
  .navbar__inner {
    width: 100%;
  }
  .api {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 576px) {
  .section-title {
    font-size: 40px;
  }
  .header__title {
    white-space: normal;
  }
}

@media only screen and (max-width: 480px) {
  .tariffs__bottom {
    padding: 0 10px;
  }
  .manager, .terms {
    margin-top: 40px;
  }
  .api a:nth-child(2), .api a:nth-child(3) {
    margin-top: 40px;
  }
  .header, .about {
    padding: 0;
  }
}

@media only screen and (max-width: 320px) {
  .section-title {
    font-size: 30px;
  }
}
