* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

ul, p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.nopadding {
  padding: 0;
  margin: 0;
}

button[type="submit"], input[type="text"] {
  display: block;
  color: #fff;
  background-color: #CE0393;
  font-size: 15px;
  font-weight: 700;
  line-height: 45px;
  border-radius: 100px;
  text-transform: uppercase;
  padding: 0 45px;
  border: 0;
}

input[type="text"] {
  color: #8C8C8C;
  background-color: #fff;
}

.content_widget_title, .footer_post_title {
  text-transform: uppercase;
  font-size: 41.25px;
  line-height: 49px;
  font-weight: 700;
}

.footer_post_title {
  color: #fff;
  font-weight: 900;
}

.title_line {
  margin-top: 30px;
  position: relative;
  height: 6px;
  border: none;
  background-color: #D5D5D5;
}

.title_line:before {
  width: 45px;
  z-index: 1;
  content: "";
  position: absolute;
  height: 6px;
  left: 0;
  background-color: #CE0393;
}

.footer_widget_title {
  font-weight: 900;
  font-size: 35px;
  line-height: 42px;
  color: #fff;
}

.post_text, .about_text, .advices_text, .breaking_news {
  line-height: 30px;
  font-size: 20px;
  color: #8E8E8E;
}

.breaking_news span {
  font-weight: bold;
}

.main_posts hr {
  width: 100%;
  height: 9.3px;
  background-color: #CE0393;
  padding: 0;
  margin: 0;
  border: none;
}

.posts_inf {
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.posts_title a {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

.posts_title a:visited {
  color: #fff;
}

.posts_title a:hover {
  color: #CE0393;
}

.posts_meta {
  margin-top: 15px;
}

.posts_meta a {
  font-size: 12px;
  background-color: #CE0393;
  border-radius: 100px;
  line-height: 30px;
  padding: 0 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.posts_meta a:not(:first-child) {
  margin-left: 10px;
}

.posts_meta a:hover {
  color: #CE0393;
  background-color: #fff;
}

.posts_text {
  margin-top: 30px;
  text-transform: lowercase;
}

.posts_date {
  margin-top: 10px;
  margin-left: 30px;
  position: relative;
  font-size: 15px;
}

.posts_date::before {
  content: "";
  border-left: 2px solid #fff;
  margin-right: 30px;
}

.menubar {
  min-height: 72px;
  background-color: #CE0393;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

.menubar p {
  display: inline-block;
}

.menubar .today_temper {
  margin-left: 115px;
}

.menubar_today {
  padding: 26px 0;
}

.menu, .hamb_menu_links {
  z-index: 11111;
  float: right;
}

.menu ul, .hamb_menu_links ul {
  list-style: none;
}

.menu ul li, .hamb_menu_links ul li {
  float: left;
}

.menu ul a, .hamb_menu_links ul a {
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  color: #fff;
  display: block;
  padding: 27.5px 23px;
}

.menu a:hover {
  color: #CE0393;
  background-color: #fff;
}

.menu ul li::before {
  content: '';
  position: absolute;
  top: 0;
  border-left: 1px solid #fff;
  height: 100%;
  opacity: 32%;
}

.menu ul li:nth-last-child(1)::after {
  content: '';
  position: absolute;
  right: 14px;
  top: 0;
  border-right: 1px solid #fff;
  height: 100%;
  opacity: 32%;
}

.menu_wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 35px;
  cursor: pointer;
}

.hamburger,
.hamburger:after,
.hamburger:before {
  width: 50px;
  height: 5px;
}

.hamburger {
  position: relative;
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
  background: #fff;
  -webkit-transition: all 0ms 300ms;
  -o-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

.hamburger.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  background: #fff;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger:after {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  background: #fff;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger_menu {
  display: none;
  background-color: #CE0393;
  z-index: 222222;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  float: left;
}

.hamburger_menu ul {
  list-style: none;
}

.hamburger_menu ul a {
  text-align: center;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  color: #fff;
  display: block;
  padding: 27.5px 23px;
}

.hamburger_menu a:hover {
  color: #CE0393;
  background-color: #fff;
}

.header_top {
  -webkit-box-shadow: 0 5px 18px -6px #707070;
          box-shadow: 0 5px 18px -6px #707070;
  padding: 26px 0;
  margin-bottom: 35px;
}

.logo {
  max-width: 250px;
}

.left_side_post {
  overflow: hidden;
  position: relative;
  background-color: #000;
}

.left_side_post img {
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.left_side_post:hover img {
  opacity: .7;
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.left_side_post .posts_inf {
  opacity: 0;
  position: absolute;
  bottom: 0;
  padding: 60px 50px;
}

.left_side_post:hover .posts_inf {
  opacity: 1;
}

.right_side_post {
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.right_side_post:hover img {
  opacity: .7;
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.right_side_post:hover .posts_meta {
  opacity: 1;
}

.right_side_post:hover .posts_inf {
  opacity: 1;
}

.right_side_post img {
  width: 100%;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  display: block;
}

.right_side_post .posts_inf {
  opacity: 0;
  position: absolute;
  bottom: 0;
  margin: 35px 20px;
}

.right_side_post .posts_title a {
  font-size: 20px;
}

.right_side_post .posts_date::before {
  display: none;
}

.right_side_post .posts_meta {
  opacity: 0;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 15px;
}

.right_side_post .posts_meta a {
  margin: 10px;
  display: block;
}

.breaking_news {
  margin-top: 40px;
  color: #3B3B3B;
}

.breaking_news span {
  color: #CE0393;
}

.content {
  margin-top: 60px;
}

.content .posts_inf {
  opacity: 1;
  margin-left: 10px;
}

.content .posts_text, .content .posts_date {
  color: #8E8E8E;
  margin-top: 25px;
}

.content .posts_date {
  color: #8E8E8E;
  margin-left: 25px;
}

.content .posts_date::before {
  display: none;
}

.content .posts_title a {
  font-size: 26px;
}

.content .posts_title a {
  color: #000;
}

.content .posts_meta {
  margin-top: 23px;
}

.latest_posts {
  overflow: hidden;
  margin-top: 65px;
}

.interesting_posts {
  margin-top: 65px;
}

.interesting_posts .posts_inf {
  margin-left: 10px;
}

.interesting_posts .interesting_post_title a {
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.interesting_posts .posts_meta {
  margin-top: 10px;
}

.interesting_posts .posts_date {
  color: #323030;
  margin-left: 0;
  margin-top: 15px;
}

.best_posts {
  margin-top: 150px;
}

.best_post {
  margin-top: 45px;
  position: relative;
}

.best_post .posts_inf {
  max-height: 189px;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: 0;
  padding: 15px 20px 0 30px;
  background-color: #fff;
  position: absolute;
  bottom: -133px;
}

.best_post .interesting_post_title a {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.best_post .posts_date {
  margin: 0;
  color: #000;
}

.best_post .posts_meta {
  margin-top: 20px;
}

.banner {
  margin-top: 150px;
}

.advices_posts {
  margin-top: 150px;
  text-align: center;
}

.advices_posts hr {
  width: 40%;
}

.advices_posts .advices_text {
  margin-bottom: 75px;
}

.advices_posts .posts_inf {
  margin-top: 20px;
  margin-left: 25px;
  text-align: left;
}

.advices_posts .content_widget_title {
  color: #454343;
  font-size: 35px;
}

.advices_posts .advices_text {
  text-align: left;
  font-size: 20px;
}

.advices_posts .posts_title a {
  font-size: 20px;
}

.advices_posts .posts_meta {
  margin-top: 15px;
}

.advices_posts .posts_date {
  margin: 0;
  color: #000;
}

.advices_posts .advices_img {
  overflow: hidden;
  height: 250px;
  position: relative;
}

.advices_posts .advices_img img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
}

.main_footer {
  margin-top: 130px;
  padding-top: 115px;
  background-color: #242424;
}

.about_us p {
  margin-left: 60px;
}

.about_us i {
  color: #CE0393;
  top: 5px;
  font-size: 30px;
  position: absolute;
}

.about_text {
  margin-top: 60px;
}

.about_cell, .about_city, .about_website {
  position: relative;
  margin-top: 45px;
  color: #fff;
}

.about_cell p, .about_city p, .about_website p {
  margin-top: 5px;
}

.about_social_media {
  margin-top: 110px;
  text-align: left;
}

.about_social_media i {
  padding: 0 15px;
  position: static;
}

.popular_post {
  min-height: 170px;
  overflow: hidden;
  position: relative;
  margin-top: 60px;
}

.popular_post .posts_inf {
  opacity: 1;
  margin-left: 10px;
}

.popular_post .posts_date {
  margin-top: 5px;
  margin-left: 0;
}

.popular_post .posts_date::before {
  display: none;
}

.popular_post:not(:last-child)::after {
  position: absolute;
  content: "";
  bottom: 0;
  border-bottom: 1px solid #707070;
  width: 100%;
}

.subscribe_form {
  position: relative;
  margin-top: 60px;
}

.subscribe_form::after {
  position: absolute;
  content: "";
  bottom: -55.8px;
  border-bottom: 1px solid #707070;
  width: 100%;
}

.subscribe_form button {
  margin-top: 24px;
  cursor: pointer;
}

.subscribe_form input {
  width: 100%;
}

.subscribe_form input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8C8C8C;
  opacity: 1;
  /* Firefox */
  text-transform: none;
  font-weight: 400;
}

.subscribe_form input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8C8C8C;
  opacity: 1;
  /* Firefox */
  text-transform: none;
  font-weight: 400;
}

.subscribe_form input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8C8C8C;
  opacity: 1;
  /* Firefox */
  text-transform: none;
  font-weight: 400;
}

.subscribe_form input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8C8C8C;
  opacity: 1;
  /* Firefox */
  text-transform: none;
  font-weight: 400;
}

.subscribe_form input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8C8C8C;
  opacity: 1;
  /* Firefox */
  text-transform: none;
  font-weight: 400;
}

.subscribe_form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8C8C8C;
  text-transform: none;
  font-weight: 400;
}

.subscribe_form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8C8C8C;
  text-transform: none;
  font-weight: 400;
}

.categories {
  min-height: 170px;
  margin-top: 100px;
}

.categories_links {
  margin-left: 15px;
  display: inline-block;
}

.categories_links a {
  margin-top: 38px;
  text-transform: uppercase;
  display: block;
}

.categories_links:last-child {
  margin-left: 100px;
}

.footer_bottom {
  background-color: #191919;
  color: #fff;
  text-transform: uppercase;
  min-height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.single_posts_inf {
  margin-top: 60px;
}

.single_posts_inf .posts_title a {
  color: #000;
  text-transform: uppercase;
}

.categories_row {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single_category {
  padding: 0 10px;
}

.single_category a {
  display: block;
  color: #000;
  background-color: #CE0393;
  border-radius: 100px;
  line-height: 30px;
  padding: 0 20px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.single_categoty_img {
  min-height: 240px;
  background-color: #fff;
}

@media only screen and (max-width: 1200px) {
  .right_side_post .posts_title a {
    font-size: 16px;
  }
  .right_side_post .posts_category {
    top: -110px;
  }
  .advices_posts .posts_date {
    display: block;
    margin-bottom: 10px;
  }
  .advices_posts .posts_meta a {
    margin-left: 0;
  }
  .best_post .posts_date {
    display: block;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .left_side_post img {
    width: 100%;
  }
  .advices_posts .posts_inf {
    margin-left: 0;
    text-align: center;
    margin-bottom: 60px;
  }
  .right_side_post {
    margin-top: 10px;
  }
  .nopadding {
    margin: auto;
  }
  .menu {
    display: none;
  }
  .menu_wrapper {
    display: block;
  }
}

.about_social_media {
  margin-top: 60px;
}

.footer_post_title {
  margin-top: 70px;
}

.popular_post .posts_inf {
  margin-left: 30px;
}

.main_footer {
  padding-bottom: 50px;
}

.footer_post_title {
  font-size: 25px;
}

.about_us p {
  margin-left: 40px;
}

@media only screen and (max-width: 768px) {
  .menu_wrapper {
    top: -70px;
  }
  .posts_text {
    margin-top: 10px;
    padding-right: 20px;
  }
  .left_side_post .posts_inf {
    padding: 40px 30px;
  }
  .posts_title a {
    font-size: 20px;
    padding-right: 20px;
  }
  .categories_row {
    margin-top: 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .single_category {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 580px) {
  .menu_wrapper {
    right: 35px;
  }
}

@media only screen and (max-width: 480px) {
  .menubar .today_temper {
    display: block;
    margin-left: 0;
  }
  .menu_wrapper {
    top: -77px;
  }
  .menubar_today {
    padding: 19px 0;
  }
  .posts_date {
    margin-top: 12px;
    margin-left: 0;
    display: block;
  }
  .posts_date::before {
    display: none;
  }
  .single_categoty_img {
    min-height: auto;
  }
  .posts_text {
    display: none;
  }
  .categories_links {
    display: block;
    margin-left: 20px;
  }
  .categories_links:last-child {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .right_side_post .posts_date {
    display: none;
  }
}
